@charset "utf-8";

/* Medium (phone, tablet) */
@media only screen and (min-width: 668px) and (max-width: 991px) { 

/* ====================== Restaurant Listing ====================== */
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  padding: 0 30px 25px;
  text-align: left;
  width: 30%;
  display:inline-block;
}
/* set rest name height to two lines to prevent uneven listings */
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  height: 2.6em;
  line-height: 1.3em;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

}